{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}

<form class="login100-form validate-form flex-sb flex-w" method="POST" id="login-form">
  {% csrf_token %}
  <span class="login100-form-title p-b-53">
    Set Password
  </span>

  <div style="display:none;" class="wrap-input100 validate-input" data-validate = "Email is required">
    <input class="input100" type="email" name="set-email" id="set-email">
    <span class="focus-input100"></span>
  </div>

  <div class="p-t-13 p-b-9">
    <span class="txt1">
      New Password
    </span>
  </div>
  <div class="wrap-input100 validate-input" data-validate = "Password is required">
    <input class="input100" type="password" name="password1" id="password1" placeholder="Set New Password">
    <span class="focus-input100"></span>
  </div>

  <div class="p-t-13 p-b-9">
    <span class="txt1">
      Confirm Password
    </span>
  </div>
  <div class="wrap-input100 validate-input" data-validate = "Password is required">
    <input class="input100" type="password" name="password2" id="password2" placeholder="Confirm Your Password">
    <span class="focus-input100"></span>
  </div>

  <div class="container-login100-form-btn m-t-17">
    <button class="login100-form-btn">
      Submit
    </button>
  </div>

</form>

{% endblock content %}