{% extends "dashboard-base.html" %}
{% load static %}
{% block content %}

<h1>Staff Section</h1>
<div class="create-new">
  <a class="nav-link btn btn-success create-new-button"  href="{% url 'add-staff' %}" >
    Add Staff
  </a>
</div>
<!-- Current Exams -->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Stuffs of {{user.faculty }} Faculty</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact Number</th>
              </tr>
            </thead>
            <tbody>
              {% for staff in staffs %}
                    <tr>
                      <td>{{ staff.user.first_name }} {{ staff.user.last_name }}</td>
                      <td>{{ staff.user }}</td>
                      <td>{{ staff.contact_number }}</td>
                      <td>
                        <a class="nav-link btn btn-warning create-new-button"  href="{% url 'edit-staff' %}" >
                          Edit
                        </a>
                      </td>
                      <td>
                        <a class="nav-link btn btn-danger create-new-button"  href="{% url 'delete-staff' staff.user_id %}" >
                          Delete
                        </a>
                      </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}